*{
    margin: 0;
    padding: 0;
}

.App {
    display: flow-root;
    /*justify-content: center;*/
    width: 100%;
}

.title {
    text-align: center;
    background-color: steelblue;
    font-weight: 700;
    padding: 10px 0px;
    font-size: 45px;
}

.container {
    margin: 10px 10%;
    border-top: 1px transparent solid;
    
}

.app-budget {
    display: flex;
    justify-content: space-around;
}

.Exp{
    margin: 10px 10%;
    padding: 0px 10px;
}

.ExpTitle {
    font-size: 40px;
}

.input {
    width: 80%;
    margin: 10px 10%;
    height: 30px;
    border-radius: 10px;
    padding: 0px 10px;
    border: 2px solid rgb(206, 30, 88);
}

.Add {
    margin: 20px 10%;
    padding: 0px 10px;
}

@media  screen and (max-width:1100px) {
    .app-budget {
        flex-direction: column;
    }
}



